<div class="container-fluid" style="margin-top: 10vh;">
  <h1 style="text-align: center;">Some of Our Projects and Success Partners</h1>
  <hr>
  <div class="col-md-12 row">
      <div class="col-md-3">
          <div class="card">
              <div class="card-header">
                  <a href="https://el-nota.netlify.app/Home">
                      <img width="60%" height="auto" src="./assets/elnota.png" alt="el-nota">
                  </a>
              </div>
              <div class="card-body">
                  <p>
                      El-Nota is Note-Planning / List-Making Web App.
                      El-Nota helps in creating and managing your daily and schedule tasks and plans.
                      With Friendly Displaying to your plans to increase your productivity.
                  </p>
                  <p>For More details click on Image...</p>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <div class="card-header">
                  <a href="https://b2-school.netlify.app/">
                      <img width="60%" class="m-4" height="auto" src="./assets/B2School-logo.png" alt="b2School">
                  </a>
              </div>
              <div class="card-body">
                  <p>
                      B2 School is website that helps young & experienced developers to achieve more
                      knowledge about software development, and sharpen their skills with educational
                      content about .NET and Web developement in genreal.
                  </p>
                  <p>For More details click on Image...</p>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <div class="card-header">
                  <a href="https://kaizan.netlify.app/">
                      <img width="60%" class="img-rounded" height="auto" src="./assets/kaizan_logo.jpg" alt="kaizan">
                  </a>
              </div>
              <div class="card-body">
                  <p>
                    Now, with Kaizan, you can finish your apartment at the lowest possible cost, with highest quality, and in the fastest time possible.
                    This means you can complete your home renovation within your budget, using the best materials.
                    We also create 3D designs to clearly illustrate every detail the customer desires in the decor and furnishings.
                    In short, your comfort is our priority!
                  </p>
                  <p>For More details click on Image...</p>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <div class="card-header">
                  <a href="https://linkat-b2studio.netlify.app/home">
                      <img width="60%" class="m-4" height="auto" src="./assets/linkat-logo.png" alt="linkat">
                  </a>
              </div>
              <div class="card-body">
                  <p>
                    LinkAT is an application which I can represent your links like social media links and all your projects links and it shows in one stylish and modern view so anyone can have access to single page that can shows all the links And you can share this page with others.
                  </p>
                  <p>For More details click on Image...</p>
              </div>
          </div>
      </div>
  </div>
</div>
