<div class="d-flex">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column nav-sidebar" orientation="vertical">
		<ng-container ngbNavItem="top">
			<button class="btn-sidebar" ngbNavLink>Home Page</button>
			<ng-template ngbNavContent>
                <div class="container-fluid">
                    <div style="text-align: center;">
                        <img src="./assets/Logo02_transparent_large.png" class="responsive" id="rotate-logo" alt="logo" />
                    </div>
                    <br>
                    <h1 class="logo-text">B2Studio</h1>
                    <br>
                    <h4 class="description-text" style="text-align: center;">Let us be your software team and help you achieve your business goals with customized solutions.</h4>
                    <h4 class="description-text" style="text-align: center;">Discover the possibilities and unlock your potential by exploring what we do.</h4>
                </div>
			</ng-template>
		</ng-container>
    <ng-container ngbNavItem="previous-work">
			<button class="btn-sidebar" ngbNavLink>Projects & Partners</button>
			<ng-template ngbNavContent>
				<app-partners></app-partners>
		  </ng-template>
		</ng-container>
		<ng-container ngbNavItem="services">
			<button class="btn-sidebar" ngbNavLink>Services</button>
			<ng-template ngbNavContent>
        <app-services></app-services>
			</ng-template>
		</ng-container>
    <ng-container ngbNavItem="templates">
			<button class="btn-sidebar" ngbNavLink>Templates</button>
			<ng-template ngbNavContent>
				<app-templates></app-templates>
			</ng-template>
		</ng-container>
	</div>

	<div [ngbNavOutlet]="nav" class="ms-4" style="width: 100vw; margin-right: 1.5rem;"></div>
</div>
