<div class="container-fluid" style="margin-top: 10vh;">
  <h1 style="text-align: center;">Our Services</h1>
  <hr>
  <div class="col-md-12 row">
      <div class="col-md-4" style="margin-top: 20px;">
          <div class="card-columns">
              <div class="card">
                  <div class="card-header">
                      Portfolio
                  </div>
                  <div class="card-body">
                      <p class="card-text">
                          We help you design and build your own portfolio.
                          With your own brand and identity,
                          you can start you online establishment with us.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="margin-top: 20px;">
          <div class="card-columns">
              <div class="card">
                  <div class="card-header">
                      Custom Software Development
                  </div>
                  <div class="card-body">
                      <p class="card-text">
                          We can help you establish a powerful start for your brand, product or service.
                          We will help you put your designs to good use.
                          We design and build websites for small to medium business based on your theme.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="margin-top: 20px;">
          <div class="card-columns">
              <div class="card">
                  <div class="card-header">
                      <h1>Templates</h1>
                  </div>
                  <div class="card-body">
                      <p class="card-text">
                          May be you have the experience of handling websites,
                          but you don't have time to build one, we can help you with that.
                          You can buy our templates which are ready on hosting and start your online journey.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="margin-top: 20px;">
          <div class="card-columns">
              <div class="card">
                  <div class="card-header">
                      Mobile Development
                  </div>
                  <div class="card-body">
                      <p class="card-text">
                          We specialize in developing customized mobile apps for Android and iOS devices,
                          Our mobile app development process includes mobile app design, development,
                          testing, and ongoing maintenance.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="margin-top: 20px;">
          <div class="card-columns">
              <div class="card">
                  <div class="card-header">
                      Support & Maintenance
                  </div>
                  <div class="card-body">
                      <p class="card-text">
                          We provide support and maintenance services to ensure
                          that our software runs smoothly, is updated, and secure.
                          We offer technical support and maintenance services to fix bugs
                          and issues that arise in the software.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
  <br>
</div>
