@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: oklch(16.93% .004 285.95);
    color: white;
}

html{
    scroll-behavior: smooth;
}